:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --background-color: #f0f2f5;
    --text-color: #333;
    --header-footer-bg: #34495e;
    --card-bg: #fff;
    --link-hover: #2980b9;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --font-family: 'Josefin Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    padding-top: 60px;
}

header {
    background-color: var(--header-footer-bg);
    color: var(--background-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 20px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: var(--background-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.intro img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2rem;
}

.mainParts {
    margin-bottom: 40px;
}

.mainParts .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.mainParts .cards div {
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--card-shadow);
    padding: 20px;
    text-align: center;
    flex: 1 1 200px;
    max-width: 500px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainParts .cards div img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.mainParts .cards div p {
    font-size: 1rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.flowChart, .blokSchema, .fritzing, .mainParts {
    text-align: center;
    margin-bottom: 40px;
}

.flowChart img, .blokSchema img, .fritzing img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    background-color: var(--header-footer-bg);
    color: var(--background-color);
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
    margin-bottom: 10px;
}

footer ul li {
    margin: 5px 0;
}

/* Accordion */
/* Styling voor de dropdown menu's waar code in getoond word*/
.accordion {
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.4s, transform 0.2s;
    border-radius: 15px;
    font-family: var(--font-family);
    font-size: 1.2rem;
    box-shadow: 0 4px 8px var(--card-shadow);
}

.accordion:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: translateY(-2px);
}

.accordion.active {
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: var(--text-color);
    float: right;
    margin-left: 5px;
    transition: transform 0.2s;
}

.accordion.active:after {
    content: "\2796"; 
}

.panel {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 18px;
    background-color: var(--card-bg);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow: 0 4px 8px var(--card-shadow);
    margin-top: 1px;
    margin-bottom: 5px;
    width: 100%;
}

.panel-content {
    padding: 18px;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
}

.arduinoCode {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

.arduinoCode h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

.arduinoCode p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.arduinoCode a {
    font-size: 1.2rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.arduinoCode a:hover {
    color: var(--link-hover);
}